.todo-item {
    border-radius: 9px;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); 
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.todo-item-p {
    margin: 24px 0px 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px; 
    font-weight: 400;
}

.todo-item-p--complete {
    /* poner efecto maquina de escribir */
    text-decoration: line-through; 
 }

 .icon {
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 48px;
     width: 48px;
     font-size: 24px;
     font-weight: bold;
 }

 .icon-check {
     position: absolute;
     left: 12px;
 }

 .icon-check--active {
     color: #30BF45;
 }

 .icon-delete {
     position: absolute;
     top: 12px;
     right: 0;
 }
 
 .icon-delete:hover {
     color: red;
 }

 .todo-item:hover {
    box-shadow: 7px 5px 56px -14px #7338F2;
    border: 1px solid #7338F2;
}

.todo-item:active {
    transform: scale(0.97);
    box-shadow: 1px 1px 15px -5px #7338F2;
}

